openapi: 3.2.0
info:
  title: Planning Center Publishing API
  description: A representative OpenAPI description of the Planning Center suite of church management APIs.
  version: '2.0'
  contact:
    name: Planning Center Developers
    url: https://developer.planning.center/docs/
  license:
    name: Proprietary
    url: https://www.planningcenter.com/terms
servers:
- url: https://api.planningcenteronline.com
  description: Planning Center API (all products)
security:
- basicAuth: []
- oauth2:
  - people
  - services
  - giving
  - groups
  - check_ins
  - calendar
  - registrations
  - publishing
tags:
- name: Publishing
  description: Sermon channels, series, episodes, and speakers (read-only).
paths:
  /publishing/v2/channels:
    get:
      operationId: listChannels
      tags:
      - Publishing
      summary: List channels
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /publishing/v2/channels/{channel_id}/episodes:
    parameters:
    - name: channel_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: listEpisodes
      tags:
      - Publishing
      summary: List episodes for a channel
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /publishing/v2/series:
    get:
      operationId: listSeries
      tags:
      - Publishing
      summary: List series
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /publishing/v2/speakers:
    get:
      operationId: listSpeakers
      tags:
      - Publishing
      summary: List speakers
      responses:
        '200':
          $ref: '#/components/responses/Collection'
components:
  responses:
    Collection:
      description: A JSON:API collection of resources.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiCollectionDocument'
  schemas:
    JsonApiCollectionDocument:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        meta:
          type: object
          properties:
            total_count:
              type: integer
            count:
              type: integer
        links:
          type: object
          properties:
            self:
              type: string
            next:
              type: string
    JsonApiResource:
      type: object
      description: A JSON:API resource object.
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
        relationships:
          type: object
          additionalProperties: true
        links:
          type: object
          additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using a Personal Access Token - application id as the username and secret as the password.
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.planningcenteronline.com/oauth/authorize
          tokenUrl: https://api.planningcenteronline.com/oauth/token
          scopes:
            people: Access the People product
            services: Access the Services product
            giving: Access the Giving product
            groups: Access the Groups product
            check_ins: Access the Check-Ins product
            calendar: Access the Calendar product
            registrations: Access the Registrations product
            publishing: Access the Publishing product
