openapi: 3.2.0
info:
  title: Planning Center Webhooks API
  description: A representative OpenAPI description of the Planning Center suite of church management APIs.
  version: '2.0'
  contact:
    name: Planning Center Developers
    url: https://developer.planning.center/docs/
  license:
    name: Proprietary
    url: https://www.planningcenter.com/terms
servers:
- url: https://api.planningcenteronline.com
  description: Planning Center API (all products)
security:
- basicAuth: []
- oauth2:
  - people
  - services
  - giving
  - groups
  - check_ins
  - calendar
  - registrations
  - publishing
tags:
- name: Webhooks
  description: Cross-product event subscriptions and deliveries.
paths:
  /webhooks/v2/subscriptions:
    get:
      operationId: listWebhookSubscriptions
      tags:
      - Webhooks
      summary: List webhook subscriptions
      responses:
        '200':
          $ref: '#/components/responses/Collection'
    post:
      operationId: createWebhookSubscription
      tags:
      - Webhooks
      summary: Create a webhook subscription
      description: Subscribe to an available event. Deliveries are outbound HTTPS POST to the subscription URL.
      requestBody:
        $ref: '#/components/requestBodies/JsonApiBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
  /webhooks/v2/subscriptions/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getWebhookSubscription
      tags:
      - Webhooks
      summary: Get a webhook subscription
      responses:
        '200':
          $ref: '#/components/responses/Resource'
    delete:
      operationId: deleteWebhookSubscription
      tags:
      - Webhooks
      summary: Delete a webhook subscription
      responses:
        '204':
          description: Deleted.
  /webhooks/v2/available_events:
    get:
      operationId: listAvailableEvents
      tags:
      - Webhooks
      summary: List available webhook events
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /webhooks/v2/subscriptions/{subscription_id}/events:
    parameters:
    - name: subscription_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: listWebhookDeliveries
      tags:
      - Webhooks
      summary: List delivered events for a subscription
      responses:
        '200':
          $ref: '#/components/responses/Collection'
components:
  responses:
    Collection:
      description: A JSON:API collection of resources.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiCollectionDocument'
    Resource:
      description: A single JSON:API resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiResourceDocument'
  requestBodies:
    JsonApiBody:
      required: true
      description: A JSON:API single-resource document.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiResourceDocument'
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The resource ID.
  schemas:
    JsonApiCollectionDocument:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        meta:
          type: object
          properties:
            total_count:
              type: integer
            count:
              type: integer
        links:
          type: object
          properties:
            self:
              type: string
            next:
              type: string
    JsonApiResourceDocument:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
    JsonApiResource:
      type: object
      description: A JSON:API resource object.
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
        relationships:
          type: object
          additionalProperties: true
        links:
          type: object
          additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using a Personal Access Token - application id as the username and secret as the password.
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.planningcenteronline.com/oauth/authorize
          tokenUrl: https://api.planningcenteronline.com/oauth/token
          scopes:
            people: Access the People product
            services: Access the Services product
            giving: Access the Giving product
            groups: Access the Groups product
            check_ins: Access the Check-Ins product
            calendar: Access the Calendar product
            registrations: Access the Registrations product
            publishing: Access the Publishing product
