openapi: 3.2.0
info:
  title: Planning Center Giving API
  description: A representative OpenAPI description of the Planning Center suite of church management APIs.
  version: '2.0'
  contact:
    name: Planning Center Developers
    url: https://developer.planning.center/docs/
  license:
    name: Proprietary
    url: https://www.planningcenter.com/terms
servers:
- url: https://api.planningcenteronline.com
  description: Planning Center API (all products)
security:
- basicAuth: []
- oauth2:
  - people
  - services
  - giving
  - groups
  - check_ins
  - calendar
  - registrations
  - publishing
tags:
- name: Giving
  description: Donations, funds, batches, payment sources, and pledges.
paths:
  /giving/v2/donations:
    get:
      operationId: listDonations
      tags:
      - Giving
      summary: List donations
      responses:
        '200':
          $ref: '#/components/responses/Collection'
    post:
      operationId: createDonation
      tags:
      - Giving
      summary: Create a donation
      description: Create a donation, including its designations to one or more funds and a payment source.
      requestBody:
        $ref: '#/components/requestBodies/JsonApiBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /giving/v2/donations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getDonation
      tags:
      - Giving
      summary: Get a donation
      responses:
        '200':
          $ref: '#/components/responses/Resource'
  /giving/v2/donations/{id}/issue_refund:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      operationId: issueRefund
      tags:
      - Giving
      summary: Issue a refund for a donation
      responses:
        '200':
          $ref: '#/components/responses/Resource'
  /giving/v2/funds:
    get:
      operationId: listFunds
      tags:
      - Giving
      summary: List funds
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /giving/v2/batches:
    get:
      operationId: listBatches
      tags:
      - Giving
      summary: List batches
      responses:
        '200':
          $ref: '#/components/responses/Collection'
    post:
      operationId: createBatch
      tags:
      - Giving
      summary: Create a batch
      requestBody:
        $ref: '#/components/requestBodies/JsonApiBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
  /giving/v2/payment_sources:
    get:
      operationId: listPaymentSources
      tags:
      - Giving
      summary: List payment sources
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /giving/v2/recurring_donations:
    get:
      operationId: listRecurringDonations
      tags:
      - Giving
      summary: List recurring donations
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /giving/v2/pledges:
    get:
      operationId: listPledges
      tags:
      - Giving
      summary: List pledges
      responses:
        '200':
          $ref: '#/components/responses/Collection'
components:
  responses:
    Collection:
      description: A JSON:API collection of resources.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiCollectionDocument'
    Resource:
      description: A single JSON:API resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiResourceDocument'
    UnprocessableEntity:
      description: Validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiErrorDocument'
  requestBodies:
    JsonApiBody:
      required: true
      description: A JSON:API single-resource document.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonApiResourceDocument'
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The resource ID.
  schemas:
    JsonApiCollectionDocument:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        meta:
          type: object
          properties:
            total_count:
              type: integer
            count:
              type: integer
        links:
          type: object
          properties:
            self:
              type: string
            next:
              type: string
    JsonApiErrorDocument:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
              title:
                type: string
              detail:
                type: string
    JsonApiResourceDocument:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
    JsonApiResource:
      type: object
      description: A JSON:API resource object.
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
        relationships:
          type: object
          additionalProperties: true
        links:
          type: object
          additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using a Personal Access Token - application id as the username and secret as the password.
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.planningcenteronline.com/oauth/authorize
          tokenUrl: https://api.planningcenteronline.com/oauth/token
          scopes:
            people: Access the People product
            services: Access the Services product
            giving: Access the Giving product
            groups: Access the Groups product
            check_ins: Access the Check-Ins product
            calendar: Access the Calendar product
            registrations: Access the Registrations product
            publishing: Access the Publishing product
